@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');




.main{
    background: #BD6E2D;
    width:100%;
    margin: 0 auto;
     
      font-family: "Goldman", serif;
      font-weight: 400;
      font-style: normal;
    
  }
  
  nav{
    display: flex;
    justify-content: space-around;
      background: white;
    position: sticky;
    top: 10px;
    .goldman-bold {
      font-family: "Goldman", serif;
      font-weight: 700;
      font-style: normal;
    }
    
  }
  
  .container {
    position: relative;
    width: 50%;
  }
  
  
  
  .container .BTB {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .BTB:hover {
    background-color: black;
  }
  
  .ProductHold {
    display:flex;
    justify-content: space-around;
  }
  .prod {
    width:30%
  }
  .Sorse {
    width:100%
  }
  
  p {
    font-size:3vw;
  
  }
  
  
  
  @media screen and (max-width: 480px) {
     div{flex-direction:column;
     margin: 0 auto}
     nav{flex-direction:column;
  text-align:center;
  }
  }
